body {
    padding: 0;
    margin: 0;
    background: #DAC9BC;
}

/*
AFTER AND BEEFORE MAIN CONTENT TO LINE IN DIFERENT SPACING INTO PAGE
*/

.Header-Middle::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 999;
}

.Header-Middle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 999;
}

.Header-Middle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Header-Middle img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.Header-Middle__Container {
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    color: white;
}

.Header-Middle__Texts {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    width: 18%;
}

.Header-Middle__Texts h1 {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.Header-Middle__Texts h2 {
    font-size: 60px;
    margin-top: 0;
    padding-top: 0;
}

/*
JLOPEZ SECTION
*/

.Jlopez-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #8A7865;
    overflow: hidden;
    color: white;
}

.Jlopez-Section__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Jlopez-Section__Texts,
.Jlopez__Photo {
    width: 50%;
}

.Jlopez__Photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.Jlopez__Photo img:nth-child(1) {
    position: absolute;
    top: calc(100% / 8);
    right: 45px;
    z-index: 1;
}

.Jlopez__Photo img:nth-child(2) {
    position: absolute;
    top: -30px;
    width: 80%;
    right: calc(100% / 40);
    z-index: 2;
}

.Jlopez__Photo img {
    width: 60%;
}

.Jlopez-Section__Texts {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50%;
}

.Jlopez-Section__Texts__Title {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding-left: 35px;
}

.Jlopez-Section__Texts__Title h2 {
    font-size: 75px;
    padding: 0;
    margin: 0;
}

.Jlopez-Section__Texts__Title h2:nth-child(2) {
    padding-left: 270px;
}

.Jlopez-Section__Texts p {
    text-align: justify;
    padding-left: 35px;
    font-size: 18px;
    width: 85%;
}

.Jlopez-Section::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 999;
}

.Jlopez-Section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 999;
}

.Line-Middle {
    width: 100%;
    height: 2px;
    background: white;
}

.Content-Titles {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Content-Titles::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 5;
}

.Content-Titles::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 5;
}

.Content-Titles__Container {
    width: 100%;
    height: 100%;
    position: relative;
}

.Content-Titles__Container img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.Content-Titles__Back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(174, 162, 120, .4);
    z-index: 1;
}


.Socials-Links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 40px;
    height: 125px;
    border: 2px solid rgb(236, 236, 236);
    position: absolute;
    top: calc(100% / 3);
    right: 25px;
}

.Titles-Transparent-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.Titles-Transparent-Content h2 {
    font-size: 75px;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    /* Aplicar un fondo transparente detrás del texto */
    background-clip: text;
    -webkit-background-clip: text;
    /* Para compatibilidad con algunos navegadores */
    color: transparent;

    /* Establecer el color de fondo de la sección para que se muestre detrás del texto */
    background-image: url('./img/about/Foto 1.webp'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen de fondo */
    background-position: center; /* Ajustar la posición de la imagen de fondo */
    padding: 10px;
    text-fill-color: transparent;
}

.Titles-Transparent-Content h2:nth-child(4) {
    position: absolute;
    top: calc(100% / 2.4);
    right: 12.5%;
}

.Titles-Transparent-Content span {
    font-size: 150px;
    font-weight: 600;
    color: white;
}

/*
ARMONIZACION OROFACIAL
*/

.Arm-Facelift {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #DAC9BC;
}

.Arm-Facelift__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
}

.Arm-Facelift__Container span {
    color: white;
}


.Arm-Facelift__Container h2 {
    font-size: 75px;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    /* Aplicar un fondo transparente detrás del texto */
    background-clip: text;
    -webkit-background-clip: text;
    /* Para compatibilidad con algunos navegadores */
    color: transparent;
    padding: 0;
    margin: 0;

    /* Establecer el color de fondo de la sección para que se muestre detrás del texto */
    background-image: url('./img/about/Foto 1.webp'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen de fondo */
    background-position: center; /* Ajustar la posición de la imagen de fondo */
    text-fill-color: transparent;
}

.Lists-Arm-Facelift {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.Lists-Arm-Facelift ul {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    padding-left: 0;
}

.Lists-Arm-Facelift ul li {
    color: rgb(49, 49, 49);
    list-style: outside;
}

.Arm-Facelift::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 5;
}

.Arm-Facelift::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 5;
}

/*
ODONTOLOGIA SECTION
*/

.Odontologia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #DAC9BC;
}

.Odontologia__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.Odontologia__Container img {
    position: absolute;
    left: 0;
    width: 60%;
    z-index: 10000;
}

.Odontologia__Container__Text {
    height: 50%;
    position: relative;
    position: absolute;
    right: calc(100% / 5);
}

.Odontologia__Container__Text h2 {
    color: white;
    font-size: 100px;
    position: absolute;
    top: -84px;
    right: -150px;
    z-index: 1;
}

.Odontologia__Container__Text h2:nth-child(2) {
    content: "";
    position: absolute;
    top: 0;
    font-size: 100px;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 11000;
}

.Odontologia__Container__Text ul {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    right: 65px;
}

.Odontologia__Container__Text ul li {
    list-style: outside;
}

.Odontologia::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 5;
}

.Odontologia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 12000;
}

/*
CONTACT FORM SECTION
*/

.Contact-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-image: url('../img/home/fondo\ 6\ \(1\).webp');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

.Contact-Section::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: white;
    height: 100%;
    z-index: 999;
}

.Contact-Section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: white;
    height: 100%;
    z-index: 999;
}

.Contact-Section__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 95%;
}

.Form-Content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 40%;
    padding-left: 15px;
}

.Form-Content form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    width: 100%;
}

.Form-Content h2 {
    font-size: 55px;
}

.Form-Content form input, .Form-Content form textarea {
    width: 100%;
    border: none;
    padding-left: 10px;
}

.Form-Content form input::placeholder, .Form-Content form textarea::placeholder {
    font-size: 15px;
}

.Form-Content form input {
    height: 35px;
}

.Form-Content form button {
    width: 220px;
    height: 35px;
    background: rgb(71, 71, 71);
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.Map-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.Map-Content__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Map {
    width: 80%;
    height: 450px;
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.Map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out .2s;
}

.Map img:hover {
    width: 110%;
    height: 110%;
}

.Texts-Direction-Data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.Texts-Direction-Data p {
    padding: 0;
    margin: 0;
}

.Line-into-form {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 2px;
    background: rgb(71, 71, 71);
}

@media screen and (max-width: 550px) {
    .Content-Link {
        visibility: hidden;
    }

    .Header-Middle img {
        height: 100%;
    }

    .Header-Middle__Texts {
        width: 61%;
    }

    .Jlopez-Section {
        height: auto;
    }

    .Titles-Transparent-Content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .Titles-Transparent-Content h2 {
        font-size: 46px;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
        background-clip: text;
        -webkit-background-clip: text;
        padding: 0;
        margin: 0;
        text-fill-color: transparent;
    }

    .Titles-Transparent-Content h2:nth-child(4) {
        position: relative;
        top: 0;
        right: 0;
    }

    .Titles-Transparent-Content span {
        font-size: 87px;
    }

    .Arm-Facelift {
        height: auto;
    }

    .Arm-Facelift__Container h2 {
        font-size: 31px;
    }

    .Lists-Arm-Facelift {
        align-items: start;
        justify-content: center;
        flex-direction: column;
        width: 71%;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .Lists-Arm-Facelift ul li {
        font-size: 13px;
    }

    .Lists-Arm-Facelift ul {
        margin: 0;
    }


    .Contact-Section {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        background-image: url(../img/home/fondo\ 6\ \(1\).webp);
        background-size: cover;
        background-position: center;
        color: white;
        height: auto;
    }

    .Contact-Section__Container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        gap: 25px;
        width: 95%;
    }

    .Form-Content {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 85%;
        padding-left: 0px;
    }

    .Map-Content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .Map {
        width: 88%;
        height: 262px;
        border: none;
        overflow: hidden;
        cursor: pointer;
    }

    .Jlopez-Section__Container {
        justify-content: center;
        flex-direction: column;
    }

    .Jlopez-Section__Texts {
        width: 95%;
        padding-top: 50px;
    }

    .Jlopez-Section__Texts__Title h2 {
        font-size: 59px;
    }

    .Jlopez-Section__Texts__Title h2:nth-child(2) {
        padding-left: 156px;
    }

    .Jlopez__Photo {
        width: 100%;
        height: 450px;
    }

    .Jlopez__Photo img:nth-child(1) {
        position: relative;
        right: 0;
    }

    .Jlopez__Photo img:nth-child(2) {
        right: calc(100% / 5);
        top: auto;
        bottom: 0 !important;
    }
    .Odontologia__Container img {
        position: relative;
        left: 0;
        width: 92%;
        z-index: 10000;
    }

    .Odontologia__Container {
        align-items: baseline;
    }

    .Odontologia__Container__Text {
        top: calc(100% / 2);
        height: 50%;
        position: relative;
        position: absolute;
        right: calc(100% / 2);
    }

    .Odontologia__Container__Text h2 {
        color: white;
        font-size: 60px;
        position: absolute;
        top: -146px;
        right: -150px;
        z-index: 1;
    }

    .Odontologia__Container__Text h2:nth-child(2) {
        content: "";
        position: absolute;
        top: -97px;
        font-size: 60px;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 11000;
    }

    .Odontologia__Container__Text ul {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        right: 0;
    }
}

