body {
    margin: 0;
    padding: 0;
    background: #DAC9BC;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.Section-Proof, .Section-Proof__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #DAC9BC;
}

.Section-Proof__Container h1 {
    font-size: 75px;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    /* Aplicar un fondo transparente detrás del texto */
    background-clip: text;
    -webkit-background-clip: text;
    /* Para compatibilidad con algunos navegadores */
    color: transparent;

    /* Establecer el color de fondo de la sección para que se muestre detrás del texto */
    background-size: cover; /* Ajustar el tamaño de la imagen de fondo */
    background-position: center; /* Ajustar la posición de la imagen de fondo */
    padding: 10px;
    text-fill-color: transparent;
}

a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

/*
AFTER AND BEEFORE MAIN CONTENT TO LINE IN DIFERENT SPACING INTO PAGE
*/

.Main::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 999;
}

.Main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(236, 236, 236);
    height: 100%;
    z-index: 999;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.Nav-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 15px;
}

.Nav-Container a:nth-child(1) {
    width: 115px;
    height: auto;
}

.Nav-Container a img {
    width: 100%;
}

.Nav-Container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}


/*
FOOTER
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background: rgb(71, 71, 71);
    padding-bottom: 10px;
}

.Footer-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

footer img {
    width: 120px;
    height: auto;
}