* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}
/*
HOME HEADER MAIN
*/
.Home-Main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Home-Main__Container {
    width: 100%;
    height: 100%;
}

.Home-Main .Home-Main__Container img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}


/*
SOCIALS LINKS RIGHT
*/

.Socials-Links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 40px;
    height: 125px;
    border: 2px solid rgb(109, 86, 86);
    position: absolute;
    top: calc(100% / 3);
    right: 25px;
}


.Line-Middle {
    width: 100%;
    height: 2px;
    background: rgb(109, 86, 86);
}

.Home-Main::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(109, 86, 86);
    height: 100%;
    z-index: 5;
}

.Home-Main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(109, 86, 86);
    height: 100%;
    z-index: 5;
}

.Middle-Header__Container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    bottom: 35px;
    width: 100%;
    padding-left: 50px;
    color: white;
}

.Middle-Header__Container h1 {
    font-size: 55px;
    width: 30%;
    padding-bottom: 0;
    margin-bottom: 0;
}


.Middle-Header__Container p {
    width: 30%;
    text-align: start;
}

.Tag-A {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.Tag-A a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    background: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
}

.Tag-A a:hover {
    background: transparent;
    border: 1px solid rgb(71, 71, 71);
}


/*
DRA JESSICA LOPEZ SECTION AND BANNER
*/

.Jlopez-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #aea278;
    overflow: hidden;
    color: white;
}

.Jlopez-Section__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Jlopez-Section__Texts, .Jlopez__Photo {
    width: 50%;
}

.Jlopez__Photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.Jlopez__Photo img:nth-child(1) {
    position: absolute;
    top: calc(100% / 5);
    width: 50%;
    right: 45px;
    z-index: 1;
}

.Jlopez__Photo img:nth-child(2) {
    position: absolute;
    top: calc(100% / 15);
    width: 60%;
    right: calc(100% / 25);
    z-index: 2;
}

.Jlopez__Photo img {
    width: 60%;
}

.Jlopez-Section__Texts {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50%;
}

.Jlopez-Section__Texts__Title {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding-left: 35px;
}

.Jlopez-Section__Texts__Title h2 {
    font-size: 75px;
    padding: 0;
    margin: 0;
}

.Jlopez-Section__Texts__Title h2:nth-child(2) {
    padding-left: 270px;
}

.Jlopez-Section__Texts p {
    text-align: justify;
    padding-left: 35px;
    font-size: 18px;
    width: 85%;
}

.Jlopez-Section::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}

.Jlopez-Section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}

.Fixed-Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(153, 151, 148, 0.5);
    top: 0;
    width: 100%;
    height: 90px;
}

.Fixed-Banner__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
}

.Fixed-Banner__Container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 25px;
    background: rgb(71, 71, 71);
    color: white;
}


