* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: #DAC9BC;
    transition: all ease-in-out .5s;
}

body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #DAC9BC;
    /* color of the scroll thumb */
    border-radius: 5px;
    /* roundness of the scroll thumb */
    border: 1px solid #DAC9BC;
    /* creates padding around scroll thumb */
}

/*
HOME HEADER MAIN
*/
.Home-Main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Home-Main__Container {
    width: 100%;
    height: 100%;
}

/*
SOCIALS LINKS RIGHT
*/

.Socials-Links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 40px;
    height: 125px;
    border: 2px solid rgb(109, 86, 86);
    position: absolute;
    top: calc(100% / 3);
    right: 25px;
}


.Line-Middle {
    width: 100%;
    height: 2px;
    background: rgb(109, 86, 86);
}

.Home-Main::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(109, 86, 86);
    height: 100%;
    z-index: 5;
}

.Home-Main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(109, 86, 86);
    height: 100%;
    z-index: 5;
}

.Middle-Header__Container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    bottom: 35px;
    width: 100%;
    padding-left: 50px;
    color: white;
}

.Middle-Header__Container h1 {
    font-size: 55px;
    width: 30%;
    padding-bottom: 0;
    margin-bottom: 0;
}


.Middle-Header__Container p {
    width: 30%;
    text-align: start;
}

.Tag-A {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.Tag-A a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    background: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
}

.Tag-A a:hover {
    background: transparent;
    border: 1px solid rgb(71, 71, 71);
}


/*
DRA JESSICA LOPEZ SECTION AND BANNER
*/

.Jlopez-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/home/Fondo\ Dra\ Jessica\ .webp');
    background-position: center;
    background-size: 100%;
    object-fit: cover;
    overflow: hidden;
    color: white;
}

.Jlopez-Section__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Jlopez-Section__Texts,
.Jlopez__Photo {
    width: 50%;
}

.Jlopez__Photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.Jlopez__Photo img:nth-child(1) {
    position: absolute;
    top: calc(100% / 5);
    width: 50%;
    right: 45px;
    z-index: 1;
}

.Icon-Left-Jopez {
    position: absolute;
    left: -200px;
}

.Jlopez__Photo img:nth-child(2) {
    position: absolute;
    top: calc(100% / 15);
    width: 60%;
    right: calc(100% / 25);
    z-index: 2;
}

.Jlopez__Photo img {
    width: 60%;
}

.Jlopez-Section__Texts {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50%;
}

.Jlopez-Section__Texts__Title {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding-left: 35px;
}

.Jlopez-Section__Texts__Title h2 {
    font-size: 75px;
    padding: 0;
    margin: 0;
}

.Jlopez-Section__Texts__Title h2:nth-child(2) {
    padding-left: 270px;
}

.Jlopez-Section__Texts p {
    text-align: justify;
    padding-left: 35px;
    font-size: 18px;
    width: 85%;
}

.ContainerA-Link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.ContainerA-Link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 8px;
    border: 1px solid rgb(71, 71, 71);
    background: rgb(71, 71, 71);
    transition: all ease-in-out .2s;
}

.ContainerA-Link a:hover {
    background: transparent;
    color: white;
}

.Jlopez-Section::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}

.Jlopez-Section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}

.Fixed-Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #B1ADA2;
    top: 0;
    width: 100%;
    height: 90px;
}

.Fixed-Banner__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
}

.Fixed-Banner__Container p {
    font-size: 25px;
}

.Fixed-Banner__Container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 25px;
    background: rgb(71, 71, 71);
    border:  1px solid rgb(71, 71, 71);
    color: white;
    transition: all ease-in-out .2s;
}

.Fixed-Banner__Container a:hover {
    background: transparent;
}


/*
SLIDE SECTION
*/

.Home-Main__Container__Images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 400%;
    height: 100vh;
    overflow: hidden;
}

.Home-Main__Container__Images__Container {
    display: flex;
    width: 100%; /* Ajusta este valor según el número de imágenes */
    height: 100%;
    overflow: hidden;
    transition: transform 0.5s ease-in-out; /* Mueve la transición al contenedor */
}

.Home-Main__Container__Images__Container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*
SMILE SECTION
*/

.Smile-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/home/fondo\ 3.jpg');
    object-fit: cover;
    background-position: center;
}

.Smile-Section::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}

.Smile-Section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}

.Smile-Section__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    height: 100%;
}

.Smile-Content-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
}

.Smile-Content-text h2 {
    font-size: 100px;
    color: white;
    z-index: 10;
}

.Smile-Content-text h3 {
    color: white;
}

.Smile-Content-text p {
    font-size: 20px;
    color: white;
}

.Image-Content-img {
    position: relative;
    width: 50%;
    height: 100%;
}

.Image-Content-img img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 85%;
    object-fit: cover;
}

.Smile-Content-text__ContainerA {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.Smile-Content-text .Smile-Content-text__ContainerA a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 auto;
    width: 150px;
    height: 30px;
    color: white;
    background: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
    transition: all ease-in-out .2s;
}

.Smile-Content-text .Smile-Content-text__ContainerA a:hover {
    color: white;
    background: transparent;
}

.Banner-Time-To-Smile {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    z-index: 1;
}

.Brown-Smile {
    width: 100%;
    height: 30%;
    background: rgb(103, 95, 95);
}

.Skin-Smile {
    width: 100%;
    height: 55%;
    background: #ded6d0;
}

.Background-Smile {
    height: 15%;
    background: #DAC9BC;
}

/*
TEAM JLOPEZ SECTION
*/

.Team-Jlo {
    width: 100%;
    height: 100vh;
    background: #DAC9BC;
}

.Team-Jlo::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}

.Team-Jlo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}

.Team-Jlo__Container {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.Content-Team-Jlo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 100%;
    gap: 10px;
}

.Content-Team-Jlo p {
    font-size: 22px;
    padding-left: 65px;
}

.Content-Team-Jlo__Item-img {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60%;
    position: relative;
    z-index: 10;
}

.Content-Team-Jlo__Item-img img {
    width: 98%;
}

.Content-Team-Jlo__Item-img img:nth-child(2) {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 100%;
    height: 105%;
}

.Content-Team-Jlo-text {
    display: flex;
    justify-content: start;
    align-items: start;
    position: absolute;
    top: calc(100% / 10);
    right: 0;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.Title-Container {
    width: 100%;
    background: #dcd2cb;
}

.Title-Smiles-Nice {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    padding-right: 30px;
}

.Title-Smiles-Nice h2 {
    font-size: 60px;
    color: #887663;
}

.Title-Container__Left {
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    width: 70%;
    right: 0;
    background: #887663;
    color: white;
    overflow: hidden;
}

.Title-Container__Left h2 {
    color: white;
}

.Title-Container__Left span {
    display: flex;
    justify-content: start;
}

.Content-Team-Jlo-text p {
    width: 80%;
}

.Content-Team-Jlo-text__A {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Content-Team-Jlo-text__A a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    background: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
    transition: all ease-in-out .2s;
}

.Content-Team-Jlo-text__A a:hover {
    background: transparent;
}

/*
JESSICA LOPEZ ARMONIZACION Y ESTETICA SECTION
*/

.Jlopez-Arm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #DAC9BC;
    position: relative;
    overflow: hidden;
}

.Jlopez-Arm__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.Jlopez-Arm__Container__Item {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.Jlopez-Arm__Container__Item img {
    height: 100%;
    right: calc(100% / 2.5);
    bottom: 0;
    position: absolute;
}

.Content-Title-Letter {
    position: absolute;
    top: 50px;
    left: calc(100% / 2);
}

.Content-Title-Letter h2 {
    font-size: 75px;
    position: relative;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    /* Aplicar un fondo transparente detrás del texto */
    background-clip: text;
    -webkit-background-clip: text;
    /* Para compatibilidad con algunos navegadores */
    color: transparent;

    /* Establecer el color de fondo de la sección para que se muestre detrás del texto */
    background-size: cover;
    /* Ajustar el tamaño de la imagen de fondo */
    background-position: center;
    /* Ajustar la posición de la imagen de fondo */
    padding: 0;
    margin: 0;
    text-fill-color: transparent;
    z-index: 10000;
}

.Content-Title-Letter h2:nth-child(2) {
    color: white;
    font-size: 75px;
    position: absolute;
    top: 0;
    z-index: -1;
}



.Jlopez-Arm__Container__Text {
    width: 30%;
    position: absolute;
    right: 150px;
    padding-top: 70px;
}

.Content-Jlopez-Arm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Content-Jlopez-Arm a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    background: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
    transition: all ease-in-out .2s;
}

.Content-Jlopez-Arm a:hover {
    background: transparent;
}

.Jlopez-Arm::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}

.Jlopez-Arm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}


/*
TECH SECTION
*/

.Tech-Section {
    width: 100%;
    height: 100vh;
    background-image: url('../img/about/Oro.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.Tech-Section__Container {
    width: 100%;
    height: 100%;
    position: relative;
}

.Tech-Section__Container__Text {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    right: 50px;
    color: white;
}

.Tech-Section__Container__Text h2 {
    font-size: 100px;
    color: white;
}

.Tech-Section__Container__Text p {
    width: 70%;
    text-align: justify;
    color: white;
}

.Tech-Section::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}

.Tech-Section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(71, 71, 71);
    height: 100%;
    z-index: 999;
}


/*
CURING LIGHT SECTION
*/

.Curring-light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/home/fondo\ 6.webp');
    background-position: center;
    background-size: cover;
    position: relative;
}

.Curring-light__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 95%;
    height: 100%;
}

.Curring-light__Container__Text {
    width: 50%;
}

.Curring-light__Container__Text h2 {
    font-size: 75px;
    color: #595955;
}

.Curring-light__Container__Text p {
    width: 65%;
    font-size: 20px;
}


.Curring-light__Container__Images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
}

.Curring-light__Container__Images img {
    position: relative;
    width: 100%;
    z-index: 10;
    left: 0;
}

.Carousel-Curring-Sliders {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.Carousel-Curring-Sliders__Container {
    width: 100%;
    height: 100%;
}

.Carousel-Curring-Sliders {
    overflow: hidden;
    width: 100%;
}

.Carousel-Curring-Sliders__Container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.Curring-light {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.Left-Arrow, .Right-Arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #595955;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.Left-Arrow img, .Right-Arrow img {
    width: 50%;
}

.Left-Arrow:hover, .Right-Arrow:hover {
    background: #777776;
}

.Left-Arrow {
    position: absolute;
    top: calc(100% / 2.5);
    right: 20px;
}

.Right-Arrow {
    position: absolute;
    top: calc(100% / 2.5);
    left: 20px;
}

/*
FORM AGENT SECTION
*/

.Contact-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-image: url('../img/home/fondo\ 6\ \(1\).webp');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

.Contact-Section::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 2px;
    background: rgb(96, 95, 96);
    height: 100%;
    z-index: 999;
}

.Contact-Section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    background: rgb(96, 95, 96);
    height: 100%;
    z-index: 999;
}

.Contact-Section__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 95%;
}

.Form-Content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 40%;
    padding-left: 15px;
}

.Form-Content form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    width: 100%;
}

.Form-Content h2 {
    font-size: 55px;
}

.Form-Content form input,
.Form-Content form textarea {
    width: 100%;
    border: none;
    padding-left: 10px;
}

.Form-Content form input::placeholder,
.Form-Content form textarea::placeholder {
    font-size: 15px;
}

.Form-Content form input {
    height: 35px;
}

.Form-Content form button {
    width: 220px;
    height: 35px;
    background: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
    outline: none;
    color: white;
    font-size: 18px;
    transition: all ease-in-out .2s;
}

.Form-Content form button:hover {
    background: transparent;
}

.Map-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.Map-Content__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Map {
    width: 80%;
    height: 450px;
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.Map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out .2s;
}

.Map img:hover {
    width: 110%;
    height: 110%;
}

.Texts-Direction-Data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.Texts-Direction-Data p {
    padding: 0;
    margin: 0;
}

.Line-into-form {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 2px;
    background: rgb(71, 71, 71);
}

@media screen and (max-width: 1115px) {
    .Title-Smiles-Nice h2 {
        font-size: 49px;
    }

    .Content-Team-Jlo p {
        font-size: 18px;
    }
}

@media screen and (max-width: 550px) {
    
    .Middle-Header__Container {
        padding-left: 33px;
    }

    .Middle-Header__Container h1 {
        font-size: 51px;
        width: 100%;
    }

    .Middle-Header__Container p {
        width: 80%;
    }

    .Fixed-Banner__Container {
        width: 84%;
    }

    .Jlopez-Section__Texts {
        padding-bottom: 50px;
    }

    .Jlopez-Section__Texts__Title h2 {
        font-size: 48px;
    }

    .Jlopez-Section__Texts__Title h2:nth-child(2) {
        padding-left: 181px;
    }

    .Jlopez-Section__Container {
        flex-direction: column-reverse;
    }

    .Jlopez-Section__Texts,
    .Jlopez__Photo {
        width: 90%;
    }

    .Jlopez-Section {
        height: 175vh;
    }

    .Jlopez__Photo img:nth-child(1) {
        width: 75%;
    }

    .Jlopez__Photo img:nth-child(2) {
        width: 90%;
    }

    .Fixed-Banner {
        height: 58px;
    }

    .Fixed-Banner__Container p {
        font-size: 15px;
    }

    .Fixed-Banner__Container a {
        width: 105px;
    }

    .Smile-Section__Container {
        flex-direction: column-reverse;
    }

    .Smile-Section {
        height: auto;
    }

    .Image-Content-img {
        display: flex;
        justify-content: end;
        align-items: baseline;
        position: relative;
        width: 92%;
        height: 100%;
    }



    .Image-Content-img img {
        position: relative;
        width: 68%;
        height: 70%;
    }

    .Smile-Content-text h2 {
        font-size: 59px;
    }

    .Smile-Content-text {
        width: 90%;
        padding-bottom: 50px;
    }

    .Team-Jlo {
        height: auto;
        padding-top: 50px;
    }

    .Content-Team-Jlo {
        flex-direction: column;
    }

    .Content-Team-Jlo__Item-img {
        width: 100%;
    }

    .Team-Jlo__Container {
        justify-content: center;
    }

    .Content-Team-Jlo__Item-img {
        width: 96%;
    }

    .Content-Team-Jlo-text {
        width: 95%;
        text-align: center;
    }

    .Content-Team-Jlo-text p {
        text-align: center;
        width: 100%;
    }

    .Content-Team-Jlo-text {
        padding-bottom: 50px;
    }

    .Content-Team-Jlo-text h2 {
        font-size: 45px;
    }

    .Tech-Section__Container__Text h2 {
        font-size: 68px;
        color: white;
    }

    .Tech-Section__Container__Text p {
        color: white;
    }
    
    .Curring-light {
        height: auto;
    }

    .Curring-light__Container {
        gap: 25px;
        flex-direction: column;
    }

    .Contact-Section__Container {
        flex-direction: column;
    }

    .Contact-Section {
        height: auto;
    }

    .Contact-Section__Container {
        gap: 100px;
    }



    .Form-Content {
        justify-content: center;
        padding-left: 0;
        width: 85%;
        padding-top: 50px;
    }

    .Map-Content {
        width: 100%;
        padding-bottom: 50px;
    }

    .Map {
        width: 85%;
    }

    .Jlopez-Arm__Container__Item img {
        right: 50%;
    }

    .Content-Title-Letter {
        left: auto;
    }

    .Content-Title-Letter h2, .Content-Title-Letter h2:nth-child(2) {
        font-size: 53px;
    }

    .Jlopez-Arm__Container__Text {
        width: 84%;
        right: auto;
    }

    .Curring-light__Container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 95%;
        height: 100%;
    }
    
    .Curring-light__Container__Text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }
    
    .Curring-light__Container__Text h2 {
        font-size: 45px;
        text-align: center;
    }
    
    .Curring-light__Container__Text p {
        width: 95%;
        text-align: center;
    }
    
    
    .Curring-light__Container__Images {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .Curring-light__Container__Images img:nth-child(1) {
        position: relative;
        width: 70%;
        z-index: 10;
        left: 0;
    }
    
    .Curring-light__Container__Images img:nth-child(2) {
        position: absolute;
        width: 70%;
        top: 120px;
        z-index: 5;
    }
}